*{
  margin: 0;
}

body{
  /* --slack-color-sidebar: #3f9fb5;
  --slack-color-header: #393b4b;
  --slack-color-in: #e5dbe6; */
  /* --slack-color-sidebar: #3f9fb5;
    --slack-color-header: #1a2a42;
    --slack-color-in: #e5dbe6; */
    --slack-color-sidebar: #196576;
    --slack-color-header: #1a2a42;
    --slack-color-in: #e5dbe6;
    --slack-color-op: #1a2a420a;
}